<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Latest Mars News</h2>
                    <h4>{{mars.news_title}}</h4>
                    <p>{{mars.news_p}}</p>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-8">
                <h2>Featured Mars Image</h2>
                <img src="{{mars.featured_image_url}}" alt ="Featured Mars Image">
            </div>
        
        <div class="col-md-4"> 
            <h4>Mars Facts</h4>
            {{ mars.facts | safe }}
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12">
                <h2><class="align-items-center">Mars hemispheres</h2>  
        
                {% for hemisphere in mars.hemispheres %} 
                    <div class="col-md-6">
                        <div class = "thumbnail">
                        <img src = "{{ hemispheres.img_url | safe }}">
                        </div>
                        <div>
                        <h4> {{ hemispheres.hemi_title | safe }} </h4>  
                        </div>
                
                    </div>
                {% endfor %}
                
                </div>
            </div>
        </div> 
        </div> 
    </body>
</html>
    




  
  